[Unit]
Description=Watch for changes in Git, build project, and copy public directory to nginx static
After=network.target

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/opt/tgBotWebApp
ExecStart=/opt/tgBotWebApp/updater.sh

[Install]
WantedBy=multi-user.target
