[Unit]
Description=Watch for changes in Git, build project, and copy public directory to nginx static

[Service]
User=root
WorkingDirectory=/opt/tgBotWebApp
ExecStart=/opt/tgBotWebApp/updater.sh

[Install]
WantedBy=multi-user.target
